<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" >
      <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1534462_10151952567820951_1448734931176051439_n.jpg?oh=cbf3e781bbb30e46c4d97ba6c274077d&oe=5540A669" alt="...">
      <div class="caption">
        <h3>About Marc</h3>
        <p>Marc is genius, you feel me?</p>
        <p><a href="http://bluefley.cgsociety.org/" class="btn btn-primary" role="button">Portfolio</a></p>
      </div>
    </div>
  </div>
</div>
